{% extends "base.html" %}

{% block content %}
<div id="container"></div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
 Highcharts.chart('container', {
     chart: {
         type: 'column'
     },
     title: {
         text: 'Matches Played Per Season'
     },
     xAxis: {
         categories: [
           {% for match in extra_runs %}'{{ match.deliveries__bowling_team }}'{% if not forloop.last %}, {% endif %}{% endfor %}
         ]
     },
     yAxis:{
        title:{
            text: 'Extra Runs'
        }
     },
     series: [{
         name: 'Extra Runs',
         data: [
           {% for match in extra_runs %}{{ match.total_extra_runs }}{% if not forloop.last %}, {% endif %}{% endfor %}
         ],
         color: 'Red'
     }]
 });
</script>
{% endblock %}
