{% extends "base.html" %}

{% block content %}

<div id="container"></div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
 Highcharts.chart('container', {
     chart: {
         type: 'column'
     },
     title: {
         text: 'Winner Teams on M Chinnaswamy Stadium, Bangalore'
     },
     xAxis: {
         categories: [
           {% for match in wins_per_venue %}'{{ match.winner }}'{% if not forloop.last %}, {% endif %}{% endfor %}
         ]
     },
     yAxis:{
        title:{
            text: 'No. of time wins'
        }
     },
     series: [{
         name: 'No. of time wins',
         data: [
           {% for match in wins_per_venue %}{{ match.matches }}{% if not forloop.last %}, {% endif %}{% endfor %}
         ],
         color: 'Red'
     }]
 });
</script>

{% endblock %}